<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>留言-闲言轻博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../A_CommonRes/css/layui.css">
	<link rel="stylesheet" href="../A_CommonRes/css/mian.css">
	<link rel="stylesheet" href="../A_CommonRes/css/modules/layer/default/layer.css?v=3.11">
	<script src="../A_CommonRes/js/layui.js"></script>
	<script src="../../MiniBlog_CommonRes/js/jquery.min.js"></script>
	<script src="../A_CommonRes/js/PagingBar.js"></script>
	<script src="js/message.js"></script>
</head>
<body class="lay-blog">
<!-- -->
<!-- 引入公共头部 -->
<div th:replace="MiniBlog_Front/A_CommonRes/common :: common_header"></div>
<div class="container-wrap">
			<div class="container container-message">
				<div class="contar-wrap" id="contar-wrap">
					<form class="layui-form" action="">
						<div class="layui-form-item layui-form-text">
							  <textarea  class="layui-textarea" id="LAY-msg-content" style="resize:none"></textarea>
						</div>
					</form>
					<div class="item-btn">
						<button class="layui-btn layui-btn-normal" onclick='MessageModule.addMessage()' >提交</button>
					</div>
					
					<div id="LAY-msg-box">
						<div id='messageDisplayArea' class="info-box">
							<!-- div class="info-item">
								<img class="info-img" src="res/img/info-img.png" alt="">
								<div class="info-text">
									<p class="title count">
										<span class="name">一片空白</span>
										<span class="info-img like"><i class="layui-icon layui-icon-praise"></i>5.8万</span>
									</p>
									<p class="info-intr">父爱如山，不善表达。回想十多年前，总记得父亲有个宽厚的肩膀，小小的自己跨坐在上面，越过人山人海去看更广阔的天空，那个时候期望自己有一双翅膀，能够像鸟儿一样飞得高，看得远。虽然父亲有时会和自己开玩笑，但在做错事的时候会受到严厉的训斥。父亲有双粗糙的大手掌。</p>
								</div>
							</div -->
						</div>
					</div>
					<div style="width:100%; " >
						<span onclick='MessageModule.requestAndShowMessage()' style="color:#0d8ddb; font-weight:bolder; font-size:15px; cursor:pointer; " >
							点击加载更多...
						</span>
					</div>
					<!-- 留言区分页操作
					<div id='pagingOptionArea' class="item-btn" style='text-align:center;'>
					</div>
					-->
				</div>
			</div>
</div>

<!-- 信息提示框 -->
<div id='tooltipArea' style='position:fixed; width:100%; height:100%; left:0px; top:0px; background:rgb(77, 77, 77, 0.3); display:none;  overflow-y:auto;'>
	<div class='item' style='width:20%; background:#FFFFFF; margin-top:10%; margin-left:40%; padding:2px 2px 2px 2px; '>
		<!-- 标题 -->
		<div id='tipTitleDiv' style='width:100%; background:#ecb89c; margin:3px 0px 2px 0px; text-align:center; padding:2px 0 3px 0; '>
			<p style='font-weight:bolder; font-size:15px; color:black; '>提&nbsp;示</p>
		</div>
		<!-- 内容 -->
		<div style='width:100%; background:#FFFFFF; margin:3px 0px 2px 0px; '>
			<p id='tipContent' style='width:80%; margin:5px 0px 2px 0px; min-height:80px; ' >请确认是否删除?</p>
		</div>
		<!-- 选项 -->
		<div style='background:#FFFFFF; text-align:right; ' >
			<button id='btnTipYes' onclick='TooltipOption.ok()' style='cursor:pointer; width:60px; margin-right:5px; height: 31px;  background-color: #494949;color: #d5d3d3; text-align: center;font-size: 14px;border: none;border-radius: 2px; ' >
				确认
			</button>
			<button id='btnTipNo' onclick='TooltipOption.cancel()' style='cursor:pointer; width:60px; height:31px; margin-right:10px; background-color: #d5d3d3;color: #494949;text-align: center;font-size: 14px;border: none;border-radius: 2px; ' >
				取消
			</button>
		</div>
	</div>
</div>
<!-- 引入公共尾部 -->
<div th:replace="MiniBlog_Front/A_CommonRes/common :: common_footer"></div>

	

	

</body>
