<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="MiniBlog.Main.Dao.Article.ArticleDao">
    <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
     -->
    <insert id="insertNewArticle" parameterType="map" useGeneratedKeys="true" keyProperty="id" >
        insert into MB_Article(userId, title) values(#{userId}, #{title})
    </insert>

    <insert id="insertNewArticleContent" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        insert into MB_ArticleDetails(articleId, content) values(#{articleId}, #{content})
    </insert>

    <insert id="insertNewImgList"  >
        insert into MB_ArticlePicture(articleId, pictureName) values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{articleId}, #{item})
        </foreach>
    </insert>

    <select id="getAvailableArticleListByUserId" resultType="map" >
        SELECT a.id 'id', a.userId 'userId', a.title 'title', b.content 'content', DATE_FORMAT(a.publishTime, '%Y-%m-%d %H:%i:%s') 'publishTime', a.readNum 'readNum', a.likeAmount 'likeAmount', a.commentAmount 'commentAmount' FROM mb_article a, mb_articledetails b WHERE a.forbid = 'no' and a.userId = #{userId} and a.id = b.articleId order by a.id desc LIMIT #{firstIndex}, #{maxAmount}
    </select>

    <select id="getPictureListByArticleId" resultType="string" >
        SELECT pictureName FROM mb_articlepicture WHERE articleId = #{articleId};
    </select>

    <select id="getAmountOfAvailableArticleListByUserId" resultType="int" >
        SELECT COUNT(id) FROM mb_article WHERE userId = #{userId}
    </select>
</mapper>
