<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>详情</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../A_CommonRes/css/layui.css">
	<link rel="stylesheet" href="../A_CommonRes/css/mian.css">
	<link rel="stylesheet" href="../A_CommonRes/css/modules/layer/default/layer.css?v=3.11">

	<script src="../A_CommonRes/js/layui.js"></script>
	<script src="../A_CommonRes/js/blog.js"></script>
	<script src="../../MiniBlog_CommonRes/js/jquery.min.js"></script>
	<script src="../A_CommonRes/js/PagingBar.js"></script>
	<script src='js/details.js'></script>
	
</head>
<body class="lay-blog">
<!-- -->
<!-- 引入公共头部 -->
<div th:replace="MiniBlog_Front/A_CommonRes/common :: common_header"></div>
	<div class="container-wrap">

			<div class="container container-message container-details">
					<div class="contar-wrap">
						<!-- 帖子详情区 -->
						<div id='contentArea' class="item">
							<div class="item-box  layer-photos-demo1 layer-photos-demo">
								<h3><a href="details.html">加载中...</a></h3>
								<h5>发布于：<span>加载中...</span></h5>
								<p>加载中...</p>
								<!-- 信息显示及功能区 -->
								<div class="count layui-clear">
									<span class="pull-left">阅读 <em>加载中...</em></span>
									<span class="pull-left" style='margin-left:20px; '>评论 <em>加载中...</em></span>
									<span class="pull-left" style='margin-left:20px; '><i class="layui-icon layui-icon-praise"></i><em>加载中...</em></span>
									<span class="pull-right" style='margin-left:20px; color:green; ' onclick='editComment()' >写评论 </span>
								</div>
							</div>
						</div>	
						<!-- 留言编辑区，默认隐藏 -->
						<div id='commentEditArea' class="item" style='background:rgba(0,0,0,0); padding-top:0px; '>
							<div class="layui-form-item layui-form-text" style='margin-bottom:3px;'>
									<textarea id='newComment' class="layui-textarea"  style="resize:none" placeholder="写点什么啊"></textarea>
							</div>
							<div style='height:40px; ' >
								<button onclick='commitComment()' style='float:right; margin-right:2px; height: 38px;line-height: 38px;padding: 0 18px;background-color: #009688;color: #fff;white-space: nowrap; text-align: center;font-size: 14px;border: none;border-radius: 2px;cursor: pointer; ' >
									确定
								</button>
								<button onclick='editComment()' style='float:right; margin-right:15px; height: 38px;line-height: 38px;padding: 0 18px;background-color: #939688;color: #fff;white-space: nowrap; text-align: center;font-size: 14px;border: none;border-radius: 2px;cursor: pointer; ' >
									取消
								</button>
							</div>
						</div>
						<!-- 留言展示区 -->
						<div id="commentDisplayArea" > 
						</div>
						<!-- 留言区分页操作 -->
						<div id='pagingOptionArea' class="item-btn" style='text-align:center; display:none;'>
						</div>
					</div>
			</div>
		</div>

<!-- 信息提示框 -->
<div id='tooltipArea' style='position:fixed; width:100%; height:100%; left:0px; top:0px; background:rgb(77, 77, 77, 0.3); display:none;  overflow-y:auto;'>
	<div class='item' style='width:20%; background:#FFFFFF; margin-top:10%; margin-left:40%; padding:2px 2px 2px 2px; '>
		<!-- 标题 -->
		<div id='tipTitleDiv' style='width:100%; background:#ecb89c; margin:3px 0px 2px 0px; text-align:center; padding:2px 0 3px 0; '>
			<p style='font-weight:bolder; font-size:15px; color:balck; '>提&nbsp;示</p>
		</div>
		<!-- 内容 -->
		<div style='width:100%; background:#FFFFFF; margin:3px 0px 2px 0px; '>
			<p id='tipContent' style='width:80%; margin:5px 0px 2px 0px; min-height:80px; ' >请确认是否删除?</p>
		</div>
		<!-- 选项 -->
		<div style='background:#FFFFFF; text-align:right; ' >
			<button id='btnTipYes' onclick='TooltipOption.ok()' style='cursor:pointer; width:60px; margin-right:5px; height: 31px;  background-color: #494949;color: #d5d3d3; text-align: center;font-size: 14px;border: none;border-radius: 2px; ' >
				确认
			</button>
			<button id='btnTipNo' onclick='TooltipOption.cancel()' style='cursor:pointer; width:60px; height:31px; margin-right:10px; background-color: #d5d3d3;color: #494949;text-align: center;font-size: 14px;border: none;border-radius: 2px; ' >
				取消
			</button>
		</div>
	</div>
</div>
<!-- 引入公共尾部 -->
<div th:replace="MiniBlog_Front/A_CommonRes/common :: common_footer"></div>
	
</body>
</html>