<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-aop-4.3.9.RELEASE.jar!/" />
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-aspects-4.3.9.RELEASE.jar!/" />
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-beans-4.3.9.RELEASE.jar!/" />
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-context-4.3.9.RELEASE.jar!/" />
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-context-support-4.3.9.RELEASE.jar!/" />
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-core-4.3.9.RELEASE.jar!/" />
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-expression-4.3.9.RELEASE.jar!/" />
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-instrument-4.3.9.RELEASE.jar!/" />
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-instrument-tomcat-4.3.9.RELEASE.jar!/" />
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-jdbc-4.3.9.RELEASE.jar!/" />
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-jms-4.3.9.RELEASE.jar!/" />
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-messaging-4.3.9.RELEASE.jar!/" />
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-orm-4.3.9.RELEASE.jar!/" />
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-oxm-4.3.9.RELEASE.jar!/" />
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-test-4.3.9.RELEASE.jar!/" />
      <root url="jar://D:/Spring4/spring-framework-4.3.9.RELEASE/libs/releaseJar/spring-tx-4.3.9.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>